@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 90%;
  margin: auto;
}

.header {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  margin-top: 10px;
}

li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  margin-top: 10px;
}

li a {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 5px;
}

.goals {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.goal {
  background-color: #ddd;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  position: relative;
  padding: 15px;
  margin: 20px;
}

.close-btn {
  outline: none;
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 20px;
}